.coloredButt{
    background: #CE6262;
    border-radius: 55px;
    width : 45%;
    border: none;
    
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 45px;
    /* or 333% */

    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
}